.blocks{
  height: 100%;
  
  .blocks-wrapper{
    max-width: 1406px;
    margin: 0 auto;
    padding: 83px 15px;
  }

  &__container{
    display: flex;
    flex-direction: row;
    gap: 16px;

    @include adaptiveValue('gap', 16, 80, 680, 320, 1);

    @media(max-width: 680px){
      flex-direction: column;
    }
  }
}