.menu {
  align-self: flex-start;
  flex-basis: 332px;
  min-width: 332px;
  padding: 24px;
  background-color:#FFFEFB;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  position: relative;

  @media(max-width: 680px){
    align-self: center;
    min-width: 200px;
  }

  &__heading{
    position: absolute;
    top: -51px;
    left: 0;
    font-size: 28px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0em;
    @include adaptiveValue('left', 0, 20, 680, 320, 1);
  }

  &__body{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
  }

  .label-menu{
    display: inline-block;
    color: #49485E;
    font-size: 10px;
    line-height: 130%;
    letter-spacing: -0.02em;
    padding-bottom: 4px;
    position: relative;
  }

  .label-menu-required{
    &:after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 4px;
      height: 4px;
      transform: translateX(100%);
      background-color: #FF8484;
      border-radius: 4px;
    }
  }
  
  .input-menu{
    width: 100%;
    padding: 10px 0px 11px 16px;
    background-color: #FFFEFB;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    &::placeholder{
      color: #B4B4B4;
      font-size: 12px;
      line-height: 125%;
    }
  }

  &__description{
    & > textarea {
      min-height: 108px;
    }
  }

  &__btn{
    width: 100%;
    background-color: #EEEEEE;
    border-radius: 10px;
    padding: 10px 0;
    color: #B4B4B4;
    font-family: $fontFamilySecond;
    font-size: 12px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: -0.02em;
    transition: all 0.3s;
    &:hover, &:focus{
      background-color: #dedede;
      color: #49485E;
    }
  }
}