.menu {
  position: sticky;
  top: 18px;
  align-self: flex-start;
  flex-basis: 332px;
  min-width: 332px;
  padding: 24px;
  background-color:#FFFEFB;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  transition: all 0.3s cubic-bezier(0.25, 0.42, 0.68, 0.98);
  
  @media(max-width: 680px){
    width: 320px;
    position: relative;
    top: 0;
    align-self: center;
    min-width: 320px;
  }

  &__heading{
    position: absolute;
    top: -16px;
    transform: translateY(-100%);
    left: 0;
    font-size: 28px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0em;
    @media(max-width: 680px){
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      &:after{
        content: "";
        border: solid #3F3F3F;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
      }
      &:hover{
        opacity: 0.85
      }
    }
    @include adaptiveValue('left', 0, 20, 680, 320, 1);
  }

  &__body{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
  }

  .label-menu{
    display: inline-block;
    color: #49485E;
    font-size: 10px;
    line-height: 130%;
    letter-spacing: -0.02em;
    padding-bottom: 4px;
    position: relative;
  }

  .label-menu-required{
    &:after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 4px;
      height: 4px;
      transform: translateX(100%);
      background-color: #FF8484;
      border-radius: 4px;
    }
  } 
  
  .input-menu{
    width: 100%;
    padding: 10px 0px 11px 16px;
    background-color: #FFFEFB;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    &::placeholder{
      color: #B4B4B4;
      font-size: 12px;
      line-height: 125%;
    }
  }

  .menu-required{
    position: relative;
    & > input {
      border: 1px solid #FF8484;
    }
    &:after{
      content: 'Поле является обязательным';
      position: absolute;
      bottom: -4px;
      transform: translateY(10px);
      color: #FF8484;
      left: 0;
      font-size: 8px;
      font-weight: 400;
      line-height: 125%;
      letter-spacing: -0.02em;
    }
    
  }

  &__description{
    & > textarea {
      min-height: 108px;
    }
  }

  &__btn{
    width: 100%;
    background-color:#EEEEEE;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 0;
    color: #B4B4B4;
    font-family: $fontFamilySecond;
    font-size: 12px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: -0.02em;
    transition: all 0.3s;

    &_active{
      background-color:#7BAE73;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      color: white;
      &:hover, &:focus{
        background-color:#7bae73dc;
      }
    }
  }
}

.hide{
  flex-basis: auto;
  width: 320px;
  min-width: 50%;
  padding: 0;
}